@charset "UTF-8";
:root {
  --c-span: #e3b873;
  --c-text: #ffff;
  --c-background: #131313;
}

@font-face {
  font-family: "YesevaOne";
  src: url(../fonts/YesevaOne-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "NunitoSans";
  src: url(../fonts/NunitoSans_7pt_Condensed-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "NunitoSans-italic";
  src: url(../fonts/NunitoSans_7pt_Condensed-Italic.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  width: 100%;
  display: block;
}

.header {
  background-color: var(--c-background);
}

.conteiner {
  max-width: 1256px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav__top {
  display: flex;
  flex-direction: row;
  gap: 2.9375rem;
  margin: 0;
  padding: 0;
  text-align: left;
}
.nav__top a {
  color: var(--c-text);
  font-family: "NunitoSans", sans-serif;
  font-weight: 400;
  font-size: 11px;
}

.nav__logo p {
  margin: 0;
  font-size: 11px;
  line-height: 15px;
  font-family: "NunitoSans", sans-serif;
  font-weight: 400;
  color: var(--c-span);
}

.btn__top {
  min-height: 37px;
  border: none;
  border-radius: 2px;
  background-color: var(--c-span);
  padding: 13px 33px;
  margin-top: 24px;
  margin-bottom: 22px;
  color: var(--c-text);
  font-size: 11px;
  font-weight: 400;
  text-align: center;
  line-height: 15px;
  font-family: "NunitoSans-italic", sans-serif;
  cursor: pointer;
}

.hero__img {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/img/homedesign.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__info {
  padding-left: 134px;
  padding-top: 12.125rem;
  max-width: 676px;
  text-align: left;
}
.hero__info h1 {
  margin: 0;
  font-size: 40px;
  line-height: 53px;
  font-family: "YesevaOne", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--c-text);
}
.hero__info h1 span {
  color: var(--c-span);
}
.hero__info p {
  margin: 0;
  margin-top: 19px;
  font-size: 22px;
  line-height: 36px;
  font-family: "NunitoSans", sans-serif;
  font-weight: 400;
  color: var(--c-text);
}

.btn__realize {
  display: none;
}

.button__top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 41px;
  padding-bottom: 208px;
}

.btn__hero {
  padding-top: 19px;
  padding-bottom: 20px;
  font-weight: 400;
  text-align: center;
  line-height: 15px;
  font-family: "NunitoSans-italic", sans-serif;
  cursor: pointer;
  border-radius: 4px;
}

.btn__hero:first-child {
  background-color: var(--c-span);
  color: white;
  border: none;
  padding-left: 41px;
  padding-right: 42px;
  margin-right: 20px;
}

.btn__hero:last-child {
  background-color: transparent;
  border: 2px solid white;
  padding-left: 22px;
  padding-right: 23px;
  color: var(--c-text);
  display: inline-block;
}

.project {
  background-color: var(--c-background);
  padding-bottom: 284px;
}

.completed__project-title {
  padding-right: 130px;
}

.project__img {
  max-width: 679px;
  min-width: 340px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: top;
     object-position: top;
}

.project__completed {
  padding-top: 107px;
  max-width: 1173px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project__info {
  max-width: 442px;
  margin-right: 50px;
  text-align: left;
}
.project__info p:nth-child(1) {
  margin-bottom: 42px;
}
.project__info h3 {
  margin: 0;
  color: var(--c-span);
  font-size: 18px;
  line-height: 24px;
  font-family: "YesevaOne", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
.project__info h2 {
  margin: 0;
  color: var(--c-span);
  font-size: 27px;
  line-height: 37px;
  font-family: "YesevaOne", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 34px;
}
.project__info p {
  margin: 0;
  color: var(--c-text);
  padding-right: 84px;
  line-height: 26px;
  font-family: "YesevaOne", sans-serif;
  font-size: 14px;
}

.project__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 34px;
}
.project__list p:nth-child(2n+1) {
  margin-bottom: 42px;
}

.project__list-item:nth-child(3) {
  grid-row: 1;
  grid-column: 2/3;
}

.project__slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding-top: 53px;
}
.project__slider svg {
  cursor: pointer;
}
.project__slider span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  display: inline-block;
}
.project__slider span:nth-child(1n+3) {
  background-color: gray;
}

.control__camera {
  width: 195px;
  margin-top: 58px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.control__camera h4 {
  margin: 0;
  line-height: 27px;
  font-weight: 400;
  font-family: "YesevaOne", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--c-text);
  margin-bottom: 12px;
}

.left__control,
.right__control {
  transform: translateY(-10px);
}

.video__block {
  margin-top: -250px;
  padding-left: 219px;
  padding-right: 220px;
  position: relative;
}
.video__block .band {
  padding-top: 62px;
  text-align: center;
}
.video__block p {
  padding-left: 51px;
  padding-right: 131px;
  text-align: center;
  margin: 0;
  margin-top: 34px;
  font-family: "NunitoSans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  margin-left: 68px;
  margin-right: 68px;
}

.video__block::after {
  content: "";
  width: 86px;
  height: 86px;
  background-color: var(--c-span);
  border-radius: 50%;
  top: 22%;
  left: 47%;
  right: 0;
  bottom: 0;
  position: absolute;
  background-image: url(../assets/Polygon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left bottom 100px;
}

.img__block {
  max-width: 817px;
  min-width: 375px;
  width: 100%;
}

.input__box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: end;
  gap: 49px;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 91px;
}

.input__video {
  border: none;
  border-bottom: 2px solid rgba(54, 54, 54, 0.3019607843);
  font-family: "NunitoSans", sans-serif;
  font-size: 13px;
  line-height: 21px;
  width: 231px;
}

.input__video::-moz-placeholder {
  font-family: "NunitoSans", sans-serif;
  font-size: 14px;
  line-height: 19.42px;
  color: var(--c-background);
}

.input__video::placeholder {
  font-family: "NunitoSans", sans-serif;
  font-size: 14px;
  line-height: 19.42px;
  color: var(--c-background);
}

.input__label {
  display: flex;
  flex-direction: column;
  font-family: "NunitoSans", sans-serif;
  font-size: 13px;
  line-height: 21.28px;
  color: gray;
}

.order__input-label {
  display: flex;
  flex-direction: column;
  font-family: "NunitoSans", sans-serif;
  font-size: 16px;
  line-height: 21.28px;
  color: gray;
  margin-bottom: 20px;
}

.input__video {
  background: none;
  width: 323px;
  color: var(--c-text);
}

.order__input {
  color: var(--c-text);
}

.order__input::-moz-placeholder {
  color: var(--c-text);
  font-family: "NunitoSans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 23.92px;
  border: none;
}

.order__input::placeholder {
  color: var(--c-text);
  font-family: "NunitoSans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 23.92px;
  border: none;
}

.btn__video {
  background-color: var(--c-span);
  border: none;
  border-radius: 2px;
  color: var(--c-text);
  text-transform: uppercase;
  padding-left: 75px;
  padding-top: 20px;
  padding-right: 75px;
  padding-bottom: 10px;
  text-align: center;
  font-family: "NunitoSans";
  font-size: 13px;
  font-weight: 400;
  line-height: 26px;
}

.first-checkbox {
  padding-top: 40px;
  text-align: center;
}

.label {
  cursor: pointer;
}

.checkbox {
  display: none;
}

.fake {
  display: inline-flex;
  width: 18px;
  height: 18px;
  justify-content: center;
  background-color: var(--c-span);
  color: var(--c-text);
}

.fake::before {
  content: "✔";
  opacity: 0;
  color: var(--c-text);
}

.checkbox:checked + .fake::before {
  opacity: 1;
}

.type__box {
  width: 195px;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.type__box h5 {
  margin: 0;
  line-height: 27px;
  font-weight: 400;
  font-family: "YesevaOne", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--c-background);
  margin-bottom: 12px;
}

.type__example {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 31px;
}

.type__example-box {
  display: flex;
  flex-direction: column;
}

.img__example-box {
  max-width: 392px;
  min-width: 340px;
  width: 100%;
}

.type__list {
  margin-bottom: 49px;
  margin-left: 34px;
}

.type__info {
  background-color: #ffffff;
  margin-left: 4.2%;
  margin-right: 4.2%;
  margin-top: -150px;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.031372549);
}
.type__info p {
  margin: 25px 0 0;
  font-family: "YesevaOne", sans-serif;
  font-size: 18px;
  line-height: 24.95px;
  margin-left: 34px;
}
.type__info li {
  font-family: "NunitoSans", sans-serif;
  font-size: 13px;
  line-height: 26.6px;
  color: #959595;
}

.type__from {
  max-width: 228px;
  min-width: 190px;
  background-color: var(--c-span);
  margin-left: 4.2%;
  margin-top: -27px;
}
.type__from p {
  margin: 0;
  font-family: "YesevaOne", sans-serif;
  font-size: 18px;
  line-height: 24.95px;
  padding: 17px 21px;
  color: var(--c-text);
  text-transform: uppercase;
  text-wrap: nowrap;
}

.order {
  background-image: url(../assets/img/building.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left bottom 100px;
}

.order__box {
  margin-top: 230px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.order__box .first-checkbox {
  padding-top: 16px;
  text-align: left;
}
.order__box .text {
  color: var(--c-text);
}

.order__list {
  counter-reset: myCounter;
  max-width: 374px;
  margin-left: 146px;
}

.order__item {
  margin-bottom: 94px;
  font-family: "NunitoSans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.1px;
}

.order__item:last-child {
  margin-bottom: 0px;
}

.order__item:before {
  counter-increment: myCounter;
  content: counter(myCounter);
  color: white;
  background: var(--c-span);
  display: inline-block;
  text-align: center;
  line-height: 40px;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  font-family: "NunitoSans", sans-serif;
  font-size: 18px;
}

.order__form {
  background-color: var(--c-background);
  padding-left: 49px;
  padding-right: 49px;
  max-width: 506px;
  min-width: 340px;
}
.order__form p {
  margin: 0;
  font-family: "NunitoSans", sans-serif;
  font-size: 18px;
  line-height: 25px;
  color: var(--c-text);
  text-align: center;
  margin-top: 28px;
  margin-bottom: 39px;
  padding-right: 83px;
  padding-left: 80px;
}

.order__input {
  display: block;
  border: none;
  background: none;
  border-bottom: 2px solid gray;
  width: 100%;
  margin-bottom: 48px;
}

.order__input:last-child {
  margin-bottom: 0px;
}

.btn__order {
  padding: 18px 44px;
  background-color: var(--c-span);
  border: none;
  font-family: "NunitoSans", sans-serif;
  font-size: 15px;
  line-height: 21px;
  color: var(--c-text);
  text-align: center;
  margin-left: 195px;
  margin-top: 39px;
}

.order__sale {
  display: flex;
  margin-left: 728px;
  padding-top: 50px;
  align-items: center;
  margin-right: 178px;
}
.order__sale p {
  margin: 0;
  font-family: "NunitoSans", sans-serif;
  font-size: 18px;
  line-height: 25.78px;
  color: var(--c-span);
}

.realize {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/img/realize.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 242px;
}

.realize__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.realize__gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 49px;
  max-width: 780px;
  margin-top: -119px;
  margin-bottom: -41px;
}

.realize__gallery-one {
  margin-top: 41px;
}
.realize__gallery-one img:first-child {
  max-height: 65%;
  min-height: 556px;
}
.realize__gallery-one img {
  margin-bottom: 49px;
}
.realize__gallery-one img:last-child {
  margin-top: 49px;
  min-height: 350px;
  margin-bottom: 0;
}

.realize__gallery-two img:first-child {
  max-height: 25%;
  min-height: 275px;
  width: 100%;
}
.realize__gallery-two img {
  margin-bottom: 49px;
}
.realize__gallery-two img:last-child {
  margin-bottom: 0;
  max-height: 75%;
  min-height: 625px;
}

.realize__info h6 {
  margin: 0;
  margin-top: 137px;
  margin-bottom: 47px;
  font-family: "YesevaOne", sans-serif;
  font-size: 27px;
  line-height: 37.42px;
  color: var(--c-span);
  padding-right: 189px;
}

.realize__item {
  margin-bottom: 17px;
  font-family: "NunitoSans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 38.19px;
  color: var(--c-text);
}

.realize__item:last-child {
  margin-bottom: 0px;
}

.realize__item:first-child {
  color: var(--c-span);
  text-decoration: underline;
}

.clients {
  background-image: url(../assets/img/left.png), url(../assets/img/rigth.png);
  padding-bottom: 327px;
  background-position: left bottom, right bottom;
  background-repeat: no-repeat;
}

.clients__box {
  width: 195px;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.clients__box p {
  margin: 0;
  font-family: "YesevaOne", sans-serif;
  font-size: 20px;
  line-height: 27.72px;
  text-transform: uppercase;
  margin-bottom: 13.32px;
}

.clients__text {
  margin-top: 21px;
  font-family: "NunitoSans", sans-serif;
  font-size: 18px;
  line-height: 29.46px;
  text-align: center;
  max-width: 410px;
}

.clients__item {
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.0392156863);
  background-color: var(--c-text);
}

.clients__reviews {
  display: flex;
  flex-direction: row;
  gap: 54px;
  margin-top: 39px;
}

.clients__reviews-text {
  margin-left: 20px;
  margin-right: 30px;
  font-family: "NunitoSans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 23.4px;
  margin-top: 10px;
}

.clients__img {
  display: inline-flex;
  gap: 10px;
  width: 76px;
  height: 76px;
  margin-left: 20px;
  margin-top: 24px;
}
.clients__img img {
  border-radius: 50%;
}
.clients__img p {
  margin: 0;
  font-family: "YesevaOne", sans-serif;
  font-size: 18px;
  line-height: 26px;
  margin-top: 10px;
}

.clients__name:nth-child(2) {
  margin-top: 0px;
}

.btn__reviews {
  background-color: var(--c-span);
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 63px;
}
.btn__reviews .str {
  margin-left: 17.36px;
}
.btn__reviews .calendar {
  margin-left: 17.26px;
}
.btn__reviews span {
  margin-left: 15px;
  margin-right: 15px;
  color: var(--c-text);
  font-size: 17px;
  line-height: 23.56px;
  font-family: "YesevaOne", sans-serif;
}

.btn {
  cursor: pointer;
}

.map {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../assets/img/mapcity.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 170px;
  margin-top: 240px;
}

.map__question {
  max-width: 883px;
  min-width: 340px;
  background-color: var(--c-background);
}
.map__question p {
  margin: 0;
  padding-top: 34px;
  text-align: center;
  font-size: 20px;
  line-height: 27.72px;
  font-family: "YesevaOne", sans-serif;
  color: var(--c-text);
}

.map__form {
  margin-left: 181px;
  margin-right: 181px;
}

.checkbox__question {
  margin-top: 46.46px;
}

.label__question {
  cursor: pointer;
}

.checkbox__form {
  display: none;
}

.question__fake {
  display: inline-flex;
  width: 18px;
  height: 18px;
  background-color: var(--c-span);
  color: var(--c-text);
  justify-content: center;
}

.question__fake::before {
  content: "✔";
  opacity: 0;
  transition: 0.2s;
}

.checkbox__form:checked + .question__fake::before {
  opacity: 1;
}

.checkbox__question {
  text-align: center;
}

.question__text {
  font-size: 14px;
  line-height: 22.92px;
  font-family: "NunitoSans", sans-serif;
  color: var(--c-text);
}

.name {
  border: none;
  background: none;
  border-bottom: 1px solid gray;
  width: 231px;
  margin-right: 50px;
  margin-top: 45.8px;
}

.phone {
  border: none;
  background: none;
  border-bottom: 1px solid gray;
  width: 231px;
}

.question {
  border: none;
  background: none;
  border-bottom: 1px solid gray;
  width: 100%;
  margin-top: 48.76px;
}

.btn__question {
  margin-top: 50px;
  margin-left: 190px;
  margin-bottom: 34px;
  padding: 10px 54px 10px 54px;
  background-color: var(--c-span);
  color: var(--c-text);
  text-align: center;
  font-family: "NunitoSans", sans-serif;
  font-size: 13px;
  line-height: 26px;
  text-transform: uppercase;
}

.question__address {
  margin-top: 52px;
}

.box__question {
  padding-left: 322px;
  padding-right: 325px;
  text-align: center;
  margin-top: 52px;
}
.box__question span {
  margin-left: 20px;
  margin-right: -43px;
  font-family: "YesevaOne", sans-serif;
  font-size: 20px;
  line-height: 27.72px;
  text-transform: uppercase;
  color: var(--c-span);
}

.social {
  margin-top: 26px;
}

.map__info {
  margin-top: 10px;
  padding-left: 169px;
  padding-right: 157px;
}

.map__info-img {
  max-width: 925px;
  min-width: 340px;
  width: 100%;
}

.footer {
  background-color: var(--c-background);
}

.tel {
  color: var(--c-span);
  font-family: "NunitoSans", sans-serif;
  font-size: 11px;
  line-height: 15px;
  text-align: right;
}

@media screen and (max-width: 375px) {
  .footer {
    display: none;
  }
  .order__form {
    display: none;
  }
  .order__list-box {
    display: none;
  }
  .order__sale {
    display: none;
  }
  .clients {
    display: none;
  }
  .nav__top {
    display: none;
  }
  .btn__top {
    display: none;
  }
  .nav {
    padding-left: 18px;
    padding-right: 18px;
  }
  .tel {
    color: var(--c-text);
    padding-top: 23px;
    padding-bottom: 24px;
  }
  .project__slider {
    display: none;
  }
  .hero__img {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/img/homedesign.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
  }
  .button__top {
    padding-bottom: 61px;
  }
  .btn__hero:first-child {
    margin-bottom: 26px;
    width: 100%;
    margin-right: 0px;
  }
  .btn__hero:last-child {
    width: 100%;
    margin-right: 0px;
  }
  .hero__info {
    padding-left: 18px;
    padding-top: 88px;
    padding-right: 18px;
  }
  .hero__info h1 {
    margin: 0;
    margin-right: 43px;
    font-size: 20px;
    line-height: 30.55px;
    font-family: "YesevaOne", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--c-text);
  }
  .hero__info h1 span {
    color: var(--c-span);
  }
  .hero__info p {
    margin: 0;
    margin-top: 19px;
    font-size: 14px;
    line-height: 19.02px;
    font-family: "NunitoSans", sans-serif;
    font-weight: 400;
    color: var(--c-text);
  }
  .project__info {
    margin-right: 0;
    text-align: center;
  }
  .project__completed {
    padding-top: 36px;
    max-width: 1173px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 18px;
    padding-right: 17px;
  }
  .project__completed h2 {
    padding: 0;
    text-align: center;
    margin-left: 11px;
  }
  .project__completed p {
    padding: 0;
    font-size: 11px;
  }
  .project__img {
    padding-right: 18px;
    min-width: 340px;
  }
  .video__block {
    position: relative;
    padding-left: 0;
    padding-right: 0;
  }
  .video__block p {
    font-size: 11px;
    line-height: 18.66px;
    text-align: center;
    color: var(--c-text);
    margin-left: 0;
    margin-right: 0;
    padding-left: 18px;
    padding-right: 18px;
  }
  .video__block .band {
    padding-top: 28px;
  }
  .band {
    padding-top: 28px;
  }
  .img__block {
    min-width: 340px;
    padding-left: 18px;
    padding-right: 18px;
    position: relative;
  }
  .video__block::after {
    content: "";
    width: 37px;
    height: 37px;
    background-color: var(--c-span);
    border-radius: 50%;
    top: 10%;
    left: 47%;
    right: 0;
    bottom: 0;
    position: absolute;
    background-image: url(../assets/Polygon.svg);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
  }
  .video {
    background-color: var(--c-background);
  }
  .type__example {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: 31px;
    gap: 59px;
  }
  .order {
    background-image: none;
  }
  .input__box {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 49px;
    padding-left: 18px;
    padding-right: 17px;
    margin-top: 91px;
  }
  .input__label {
    display: flex;
    flex-direction: column;
  }
  .input__video {
    background: none;
    width: 323px;
    color: var(--c-text);
  }
  .input__video::-moz-placeholder {
    color: var(--c-text);
  }
  .input__video::placeholder {
    color: var(--c-text);
  }
  .btn__video {
    order: 3;
    margin-bottom: -25px;
    width: 100%;
  }
  .first-checkbox {
    color: var(--c-text);
    padding-top: 28px;
  }
  .realize {
    background: none;
  }
  .realize__gallery {
    display: block;
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
  }
  .realize__gallery-one {
    margin-bottom: 0;
  }
  .realize__gallery-one img:nth-child(4) {
    margin-bottom: 0px;
    display: none;
  }
  .realize__gallery-one img:last-child {
    margin-top: 0;
    min-height: 0;
    margin-bottom: 0;
  }
  .realize__gallery-two {
    display: none;
  }
  .realize__block {
    display: block;
  }
  .realize__info .realize__list {
    display: none;
  }
  .realize__info h6 {
    margin: 0;
    font-family: "YesevaOne", sans-serif;
    font-size: 22px;
    line-height: 37.42px;
    color: var(--c-span);
    padding-right: 0;
    margin-top: -409px;
    text-align: center;
  }
  .map {
    background-color: var(--c-background);
    display: flex;
    flex-direction: column;
    margin-top: -119px;
  }
  .map__question p {
    padding-top: 173px;
  }
  .box__question {
    margin-top: 41px;
    padding-left: 18px;
    padding-right: 17px;
    order: 2;
  }
  .box__question span {
    margin-left: -20px;
    margin-right: 10px;
    font-family: "YesevaOne", sans-serif;
    font-size: 18px;
    line-height: 24.95px;
    text-align: center;
    text-transform: uppercase;
    color: var(--c-span);
  }
  .map__info {
    padding-left: 0;
    padding-right: 0;
  }
  .map__form {
    gap: 71px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 18px;
    padding-right: 18px;
  }
  .form__input input {
    width: 100%;
    margin-bottom: 69.92px;
  }
  .form__input input:last-child {
    margin-top: 0;
    margin-bottom: 0;
  }
  .btn__question {
    margin-left: 0;
    margin-top: 67px;
    width: 100%;
  }
  .realize__gallery-picture {
    width: 100%;
    height: 250px;
    display: block;
    padding-left: 17px;
    padding-right: 17px;
  }
  .realize__gallery-picture .realize__gallery-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 0;
    min-height: inherit;
  }
  .btn__realize {
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: var(--c-span);
    position: absolute;
    z-index: 2;
    border: none;
    text-align: center;
    right: 30px;
    top: 45%;
  }
  .btn__realize-left {
    top: 45%;
    left: 30px;
  }
}/*# sourceMappingURL=main.css.map */